@{
    ViewData["Title"] = "Renta Pelis";
}

<div class="jumbotron" style="background:#11cfac">
    <h1>Renta Pelis</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> Disfruta desde la comodidad de tu casa!</h2>
        <p>
            Renta los estrenos recién salidos del cine
            y las películas ganadoras de premios y festivales.

            Elige la película que quieres ver,
            ¡hay una gran cantidad de opciones!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mision</h2>
        <p>
            LLevar la diversion a cada hogar, brindando el mejor servicio a domicilio, para que cada cliente se sienta satisfecho y pase horas de diversión disfrutando de los mejores estrenos y peliculas de catálogo, asi como ofrecerles la opcion de poder pedir snacks para hacer de su pelicula lo mas placentera posible.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            Ser el negocio en renta de peliculas consentido de la gente, establecernos como el principal medio de diversion en cuanto a renta de peliculas se refiere.

        </p>
    </div>
</div>